<div class="area act-list">
  <ul>
    <li ng-repeat="act in acts">
      <div class="view">
        <h4>{{act.title}}</h4 >
      </div>
    </li>
  </ul>
</div>

<div class="area callout">
</div>

<div class="area">
  <div class="act-form">
    <h1>Plant Seeds</h1>
    <form ng-submit="save(newAct)">
      <input
      id="new-act"
      placeholder="Act of Kindness"
      ng-model="newAct.title"
      autofocus>

      <button>Share</button>

    </form>
  </div>
</div>
