<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="">
  <meta name="author" content="">
  <title>AKindThing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="app">

    <!-- Side Menu -->
    <!-- <a id="menu&#45;toggle" href="#" class="btn btn&#45;primary btn&#45;lg toggle"><i class="fa fa&#45;bars"></i></a> -->
    <!-- <div id="sidebar&#45;wrapper"> -->
    <!--     <ul class="sidebar&#45;nav"> -->
    <!--         <a id="menu&#45;close" href="#" class="btn btn&#45;default btn&#45;lg pull&#45;right toggle"><i class="fa fa&#45;times"></i></a> -->
    <!--         <li class="sidebar&#45;brand"><a href="http://startbootstrap.com">Start Bootstrap</a> -->
    <!--         </li> -->
    <!--         <li><a href="#top">Home</a> -->
    <!--         </li> -->
    <!--         <li><a href="#about">About</a> -->
    <!--         </li> -->
    <!--         <li><a href="#services">Services</a> -->
    <!--         </li> -->
    <!--         <li><a href="#portfolio">Portfolio</a> -->
    <!--         </li> -->
    <!--         <li><a href="#contact">Contact</a> -->
    <!--         </li> -->
    <!--     </ul> -->
    <!-- </div> -->
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div class="wrapper" ng-controller="AppCtrl">

      <%= yield %>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <!-- <div id="about" class="intro"> -->
    <!--     <div class="container"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;6 col&#45;md&#45;offset&#45;3 text&#45;center"> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- /Intro -->

    <!-- Services -->
    <!-- <div id="services" class="services"> -->
    <!--     <div class="container"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;4 col&#45;md&#45;offset&#45;4 text&#45;center"> -->
    <!--                 <h2>Our Services</h2> -->
    <!--                 <hr> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;2 col&#45;md&#45;offset&#45;2 text&#45;center"> -->
    <!--                 <div class="service&#45;item"> -->
    <!--                     <i class="service&#45;icon fa fa&#45;rocket"></i> -->
    <!--                     <h4>Spacecraft Repair</h4> -->
    <!--                     <p>Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!</p> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--             <div class="col&#45;md&#45;2 text&#45;center"> -->
    <!--                 <div class="service&#45;item"> -->
    <!--                     <i class="service&#45;icon fa fa&#45;magnet"></i> -->
    <!--                     <h4>Problem Solving</h4> -->
    <!--                     <p>Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.</p> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--             <div class="col&#45;md&#45;2 text&#45;center"> -->
    <!--                 <div class="service&#45;item"> -->
    <!--                     <i class="service&#45;icon fa fa&#45;shield"></i> -->
    <!--                     <h4>Blacksmithing</h4> -->
    <!--                     <p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--             <div class="col&#45;md&#45;2 text&#45;center"> -->
    <!--                 <div class="service&#45;item"> -->
    <!--                     <i class="service&#45;icon fa fa&#45;pencil"></i> -->
    <!--                     <h4>Pencil Sharpening</h4> -->
    <!--                     <p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- /Services -->

    <!-- Callout -->
    <!-- <div class="callout"> -->
    <!--     <div class="vert&#45;text"> -->
    <!--       <h1>Plant Your Seeds<br /> -->
    <!--         Watch Them Grow -->
    <!--       </h1> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- /Callout -->

    <!-- Portfolio -->
    <!-- <div id="portfolio" class="portfolio"> -->
    <!--     <div class="container"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;4 col&#45;md&#45;offset&#45;4 text&#45;center"> -->
    <!--                 <h2>Our Work</h2> -->
    <!--                 <hr> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;4 col&#45;md&#45;offset&#45;2 text&#45;center"> -->
    <!--                 <div class="portfolio&#45;item"> -->
    <!--                     <a href="#"> -->
    <!--                         <img class="img&#45;portfolio img&#45;responsive" src="assets/portfolio&#45;1.jpg"> -->
    <!--                     </a> -->
    <!--                     <h4>Cityscape</h4> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--             <div class="col&#45;md&#45;4 text&#45;center"> -->
    <!--                 <div class="portfolio&#45;item"> -->
    <!--                     <a href="#"> -->
    <!--                         <img class="img&#45;portfolio img&#45;responsive" src="assets/portfolio&#45;2.jpg"> -->
    <!--                     </a> -->
    <!--                     <h4>Is That On Fire?</h4> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;4 col&#45;md&#45;offset&#45;2 text&#45;center"> -->
    <!--                 <div class="portfolio&#45;item"> -->
    <!--                     <a href="#"> -->
    <!--                         <img class="img&#45;portfolio img&#45;responsive" src="assets/portfolio&#45;3.jpg"> -->
    <!--                     </a> -->
    <!--                     <h4>Stop Sign</h4> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--             <div class="col&#45;md&#45;4 text&#45;center"> -->
    <!--                 <div class="portfolio&#45;item"> -->
    <!--                     <a href="#"> -->
    <!--                         <img class="img&#45;portfolio img&#45;responsive" src="assets/portfolio&#45;4.jpg"> -->
    <!--                     </a> -->
    <!--                     <h4>Narrow Focus</h4> -->
    <!--                 </div> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <!-- <div class="call&#45;to&#45;action"> -->
    <!--     <div class="container"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;6 col&#45;md&#45;offset&#45;3 text&#45;center"> -->
    <!--                 <h3>The buttons below are impossible to resist.</h3> -->
    <!--                 <a href="#" class="btn btn&#45;lg btn&#45;default">Click Me!</a> -->
    <!--                 <a href="#" class="btn btn&#45;lg btn&#45;primary">Look at Me!</a> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- /Call to Action -->

    <!-- Map -->
    <!-- <div id="contact" class="map"> -->
    <!--     <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&#38;amp;source=s_q&#38;amp;hl=en&#38;amp;geocode=&#38;amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&#38;amp;aq=0&#38;amp;oq=twitter&#38;amp;sll=28.659344,&#45;81.187888&#38;amp;sspn=0.128789,0.264187&#38;amp;ie=UTF8&#38;amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&#38;amp;t=m&#38;amp;z=15&#38;amp;iwloc=A&#38;amp;output=embed"></iframe> -->
    <!--     <br /> -->
    <!--     <small> -->
    <!--         <a href="https://maps.google.com/maps?f=q&#38;amp;source=embed&#38;amp;hl=en&#38;amp;geocode=&#38;amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&#38;amp;aq=0&#38;amp;oq=twitter&#38;amp;sll=28.659344,&#45;81.187888&#38;amp;sspn=0.128789,0.264187&#38;amp;ie=UTF8&#38;amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&#38;amp;t=m&#38;amp;z=15&#38;amp;iwloc=A"></a> -->
    <!--     </small> -->
    <!--     </iframe> -->
    <!-- </div> -->
    <!-- /Map -->

    <!-- Footer -->
    <!-- <footer> -->
    <!--     <div class="container"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col&#45;md&#45;6 col&#45;md&#45;offset&#45;3 text&#45;center"> -->
    <!--                 <ul class="list&#45;inline"> -->
    <!--                     <li><i class="fa fa&#45;facebook fa&#45;3x"></i> -->
    <!--                     </li> -->
    <!--                     <li><i class="fa fa&#45;twitter fa&#45;3x"></i> -->
    <!--                     </li> -->
    <!--                     <li><i class="fa fa&#45;dribbble fa&#45;3x"></i> -->
    <!--                     </li> -->
    <!--                 </ul> -->
    <!--                 <div class="top&#45;scroll"> -->
    <!--                     <a href="#top"><i class="fa fa&#45;circle&#45;arrow&#45;up scroll fa&#45;4x"></i></a> -->
    <!--                 </div> -->
    <!--                 <hr> -->
    <!--                 <p>A Kindess Project</p> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </footer> -->
    <!-- /Footer -->

    <!-- JavaScript -->
    <!-- <script src="js/bootstrap.js"></script> -->

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>
</html>
